<!DOCTYPE html>
<html lang="en">
<%- include('./partials/head.ejs') %> 
<body>
    <%- include('./partials/nav.ejs') %> 
    <div class="not-found content">
        <h2>404</h2>
        <p>You have reached a dead end! The page or resource you are looking for doesn't exist or may have been moved to a different location permanently.</p>
    </div>
    <%- include('./partials/footer.ejs') %> 

</body>
</html>