<!DOCTYPE html>
<html lang="en">
<%- include('./partials/head.ejs') %> 
<body>
    <%- include('./partials/nav.ejs') %> 
    <div class="about content">
        <h2>About</h2>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Sunt eum veritatis explicabo maiores ex at ratione, aut quam rem dolor iure odit sint placeat ut rerum eveniet distinctio a porro!</p>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Commodi corrupti reiciendis similique quis recusandae qui animi eaque ut, adipisci minus. Corporis, cupiditate ullam dolores odio nesciunt ducimus quas quidem maiores!</p>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Totam doloremque repellat velit veritatis! Nesciunt quos necessitatibus dignissimos saepe ipsum distinctio sapiente hic beatae! Velit, libero ipsa. Corporis totam vel aliquam.</p>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolore, officia eveniet eaque quisquam vel aspernatur voluptatibus inventore iste unde. Officiis voluptate nesciunt neque illo. Non fuga deserunt odio debitis excepturi!</p>
    </div>
    <%- include('./partials/footer.ejs') %> 
</body>
</html>